* {
	font-family: Arial, Helvetica, sans-serif;
	background-position: sticky;
	margin: auto;
	}
	
	.header {
        height: 50px;
        background-color: lightgray;
        display: flex;
        width: auto;
    }

   div.header a{
        margin-left: 0;
   }
    
    .header img {
      
        float: left;
         
    }
   

          
    header ul {
        display: flex;
        float: right;
        list-style-type: none;
        line-height: 50px;
        align-items: center;
        margin-left: auto;
        margin-right: 2%;
            
       
    }

    
    .icon {
        padding: 1em 10px;
        padding-right: 20px;    
    }
    
    
  
    
	
	.navbar ul {
        display: flex;
        justify-content: space-around;
        height: 40px;
        background-color: #19226d;
        list-style-type: none;
        padding: 0px 1em;
        margin: 0px;
        width:auto;
        
        
    }
	
    .navbar a {
        display: block;
        color: white; 
        text-decoration: none;
        text-align: center;
        font-size: 18px;
        line-height: 40px;
        padding: 0px 15px;	
        		
    }
    
    .navbar a:hover {
        background: #ddd;
        color: black;
    }
	
	    .slider-container {
        max-width: fit-content;
        position: relative;
        justify-content: center;
        margin: auto;
        height: auto;
        overflow: auto;

    }

    .slideWrap {
        position: relative;
        list-style: none;
        height: auto;
        width: 100%;
        padding: 0;
        margin: 0;
        justify-content: center;

    }

    .mySlides {
        position: relative;
        height: auto;
        width: 100%;
        justify-content: center;
        
    }

    .mySlides img {
        width: 100%;
        height: auto;

    }
   
      
   .dot{
        cursor: pointer;
        height: 10px;
        width: 10px;
        margin: 5px;
        border-radius: 50%;
        display: inline-flex;
        background-color: lightgray;
        
        
       
   }

   .active, .dot:hover{
        background-color:#19226d;
   }
	
    
    .checkbtn {
        padding-top: 4px;
        margin-right: 20px;
        cursor: pointer;
        display: none;
        
    }
    #check {
        display: none;
    }
	
	body, html {
		height: 100%;
		margin: 0px;
		font-size: 20px;
		font-family: "Brown", "Arial" sans-serif;
		font-weight: 400;
		line-height: 1.8em;
		color: #54c3c0;
		
	}
	
	.pimg1, .pimg2, .pimg3, .pimg4 {
		position: relative;
		opacity: 1.0;
		background-position: center;
		background-size: cover;
		background-repeat: no-repeat;
        background-attachment: fixed;
    }
	
	/*	fixed = parallax
		scroll = normal
	*/
	
	
	
	.pimg1 {
		background-image: url('../images/orchestra.jpg');
		min-height: 100%;
	}
	
	.pimg2 {
		background-image: url('../images/e4th.jpeg');
		min-height: 400px;
	}
	
	.pimg3 {
		background-image: url('../images/ohcity.jpg');
		min-height :400px;
	}
	
	.pimg4 {
		background-image: url('../images/clevelandscript.jfif');
		min-height: 100%;
	}
	
	.section {
		text-align: center;
		padding: 50px 80px;
		color: #f4f4f4;
		font-family: "Brown", "Arial" sans-serif;
	}
	
	.section-light{
		background-color: #632d80;
		color: #f4f4f4;
		font-family: "Brown", "Arial" sans-serif;
	}
	
	.section-dark {
		background-color: #54c3c0;
		color: white;
	}
	
	p {
		font-size: 20px;
	}
	
	#Why_Cleveland {
	background-color: #4cb549;
	color: white;
	}
	
	.ptext {
		position: absolute;
		top: 50%;
		width: 100%;
		text-align: center;
		color: black;
		font-size: 27px;
		letter-spacing: 8px;
		text-transform: uppercase;
	}
	
	 .ptext .border {
		background-color: black;
		color: #fff;
		padding: 20px; 
	}
	
	.ptext .border.trans{
		background-color: black;
		color: white;
	}
	
	.last_border {
	 display: none;
	}
	
	.image-container {
    position: relative;
    width: 500px;
    height: 250px;
    margin: auto;
}

.image-container img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition:  transform 0.3s ease-in-out;
    margin-left: 12px;
    opacity: 0.5;
}
.button-container{
    display: flex;
    justify-content:center;
    margin-top: 20px;
}
.button-container button{
    cursor: pointer;
    padding: 5px;
    border-radius: 5px;
    margin: auto;
}
.button-container button.active{
    background-color: gray;
    color:white;
}
.text-overlay{
    position: absolute;
    top:40%;
    left:52%;
    transform: translate(-50%,50%);
    font-size:34px;
    font-weight: bold;
    text-align: center;  
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8);      
}
#h2-dollar{
    text-align: center;
}
.usMap{
    display:flex;
    position: relative;
    width: auto;
}






@media(max-width: 570px){
    .image-container{
        width:250px;
        height: 100%;
        margin-right: 85px;
    }
    .text-overlay{
        top:30%;
    }
    .usMap{
        width:500px;

    }
}
	
@media(max-width:568px){
		.pimg1, .pimg2, .pimg3{
		background-attachment: scroll;	
		}
       
      
	}
	
@media(max-width: 570px){
        .pimg1, .pimg2, .pimg3{
            background-attachment: scroll;	
            }
        .header {
            width: 100%;
            padding-right: 1em;
            padding-left: 1em;
            background-color: white;
            
        }
        .header img{
               
            float: left;
            margin-left: -10%;    
                        
                      
        }
    
        ul.header{
           
            float: right;     
            position: relative;
            
            
        }

        .icon {
                      
            padding-left: 1%;          
            padding-right: 20px; 
            
          
        }
       


        
        .ptext .border{
            line-height: 80px;
        }
        
        .checkbtn {
            display: block;
            padding-left: 2%;
            padding-top: 7px;
            padding-bottom: 0;
              
            
        }
        nav{
            background: #19226d;
            width: 100%;
        }
        .navbar ul {
            
            width: 100%;
            background: #19226d;
            padding: 0;
            margin: 0;
        }

        nav ul {
            position: fixed;
            height: auto;
            text-align: center;
            left:-110%;
            transition: all .5s;
            z-index: 1;
            top: 178px;
            display: flex;
            flex-direction: column;
            background: #19226d;
            width: 100%;
                      
            
        }
        nav ul li {
            display: block;
            background-color: #19226d;
            width: 100%;
        }
       
        nav ul li a {
            font-size: 15px;
        }
        #check:checked ~ ul{
            left: 0;
        }
       
    }
    @media(min-width: 571px),(max-width: 900px){
        .header img{
               
            float: left;      
                             
                      
        }
    }

    ol, ul {
        margin-left: 30px;
        margin-bottom: 30px;
    }
    
    ol, ul {
        list-style: none;
    }

    

#footer-outer[data-cols="1"] #copyright .col, #footer-outer[data-cols="1"] #copyright .col ul {
    width: 100%;
    float: none;
}

@media only screen and (max-width: 690px)
body #footer-outer #copyright .col ul {
    float: left;
}

#footer-outer #copyright .col ul {
    float: right;
}

#footer-outer ol, #footer-outer ul, #header-outer .button_social_group ul, #header-outer nav>ul, #header-outer ol, #header-secondary-outer ol, #header-secondary-outer ul, #mobile-menu ol, #mobile-menu ul, #search-outer ol, #search-outer ul, #slide-out-widget-area ol, #slide-out-widget-area ul {
    margin: 0;
}

#footer-outer[data-cols="1"] .col {
    text-align: center;
}

body #footer-outer #copyright {
    font-size: 14px;
    background-color: transparent;
}

#footer-outer #copyright {
    padding: 20px 0;
    font-size: 12px;
    background-color: #1c1c1c;
    color: #777;
}

#footer-outer, #nectar_fullscreen_rows > #footer-outer.wpb_row .full-page-inner-wrap {
    color: #ccc;
    position: relative;
    z-index: 10;
    background-color: #252525;
}

#footer-outer, #footer-outer a:not(.nectar-button) {
    color: #ffffff!important;
}

    #footer-outer #copyright .col ul {
        float: right;
    }
    
    #footer-outer ol, #footer-outer ul, #header-outer .button_social_group ul, #header-outer nav>ul, #header-outer ol, #header-secondary-outer ol, #header-secondary-outer ul, #mobile-menu ol, #mobile-menu ul, #search-outer ol, #search-outer ul, #slide-out-widget-area ol, #slide-out-widget-area ul {
        margin: 0;
        margin-top: 0px;
        margin-right: 0px;
        margin-bottom: 0px;
        margin-left: 0px;
    }

    body #footer-outer #copyright {
        font-size: 14px;
        background-color: transparent;
    }
    
    #footer-outer #copyright {
        padding: 20px 0;
        font-size: 12px;
        background-color: #1c1c1c;
        color: #777;
    }
    #footer-outer, #nectar_fullscreen_rows > #footer-outer.wpb_row .full-page-inner-wrap {
        color: #ccc;
        position: relative;
        z-index: 10;
        background-color: #252525;
    }

    #footer-outer, #footer-outer a:not(.nectar-button) {
        color: #ffffff!important;
    }

    .container {
        margin: 0 auto;
        position: relative;
        max-width: 880px;
    }

    .container:before, .container:after, .container-fluid:before, .container-fluid:after, .row:before, .row:after, .modal-footer:before, .modal-footer:after, .vc_row:before, .vc_row:after {
        content: " ";
        display: table;
    }
    .container:after, .container-fluid:after, .row:after, .vc_row:after {
        clear: both;
    }
    .container:before, .container:after, .container-fluid:before, .container-fluid:after, .row:before, .row:after, .modal-footer:before, .modal-footer:after, .vc_row:before, .vc_row:after {
        content: " ";
        display: table;
    }
   
    #footer-outer #copyright li .instagram {
        width: 20px
    }

    #footer-outer #copyright li .youtube {
        width: 21px
    }

    #footer-outer #copyright li .twitter {
        width: 20px
    }

    #footer-outer #copyright li .facebook {
    width: 12px
}