* {
    font-family: "Brown", "Arial", sans-serif;
    }
    
.header {
    height: 50px;
        background-color: lightgray;
        display: flex;
        width: auto;
        
}
    
.header img{
        float: left;
    }

header ul {
        display: flex;
        float: right;
		list-style-type: none;
        line-height: 50px;
        align-items: center;
        margin-left: auto;
	    margin-right: 2%; 
        
}
    
.icon {
        padding: 1em 10px;
        padding-right: 20px;
    }
    
    

    
.navbar ul {
        display: flex;
        justify-content: space-around;
        height: 40px;
        background-color: #19226d;
        list-style-type: none;
        padding: 0px 1em;
        margin: 0px;
        width: auto;
    }

.navbar a {
        display: block;
        color: white; 
        text-decoration: none;
        text-align: center;
        font-size: 18px;
        line-height: 40px;
        padding: 0px 15px;			
    }
    
.navbar a:hover {
        background: #ddd;
        color: black;
    }

	.checkbtn {
        padding-top: 4px;
        margin-right: 20px;
        cursor: pointer;
        display: none;
        
    }
#check {
        display: none;
    }

	body {
	background-color: white;
	background-repeat: no-repeat;
	opacity: 1.0;
	background-size:cover;
    margin: 0;
	color:  black;
	}

.form {
       margin: 20px;
         color: grey;   
    }

select {
	background-color: #19226d;
	border-radius: 25px;
    color: white;
    width: 100%;
	padding: 12px 20px;
	margin: 8px 0;
	display: inline-block;
	border: 1px solid #ccc;
	border-radius: 4px;
	box-sizing: border-box;
    font-family: "Brown", "Arial" sans-serif;
	font-weight: bold;
	margin: auto;
}

 select {
	color: white;
	font-size: 18px;
	font-family: "Brown", "Arial" sans-serif;
	font-weight: bold;
	opacity: 1.0;
    
}

label {
	color: black;
	font-size: 18px;
	font-family: "Brown", "Arial" sans-serif;
	font-weight: bold;
	opacity: 1.0;
}

[type=file] {
	background-color: transparent;
    color: white;
    width: 100%;
	padding: 12px 20px;
	margin: 8px 0;
	display: inline-block;
	border: 1px solid #ccc;
	border-radius: 4px;
	box-sizing: border-box;
    font-family: "Brown", "Arial" sans-serif;
	font-weight: bold;
	margin: auto;
}

input[type=text],[type=email],[type=tel],[type=date],[type=time],[type=appt] {
	width: 100%;
	padding: 14px 20px;
	margin: 8px 0;
	display: inline-block;
	border: 1px solid #ccc;
	border-radius: 25px;
	box-sizing: border-box;
	color: grey;
	font-family: "Brown", "Arial" sans-serif;
	font-weight: 400;
	margin: auto;
   
}

input[type=text]:hover, [type=email]:hover, [type=tel]:hover,[type=date]:hover,[type=file]:hover,[type=time]:hover,[type=appt]:hover {
	background-color: #54c3c0;
    color: white;
}

input[type=submit],[type=reset] {
	width: 100%;
	background-color: #54c3c0;
	color: white;
	padding: 14px 20px;
	margin: 8px 0;
	border: 1px solid #ccc;
	border-radius: 25px;
	cursor: pointer;
	font-family: "Brown", "Arial" sans-serif;
	font-weight: 400;
	
}

input[type=submit]:hover,[type=reset]:hover {
background-color: #45A049;
font-family: "Brown", "Arial" sans-serif;
font-weight: bold;
border-radius: 25px;
color: white;

}

p {
	background-color: #19226d;
    color: white;
	opacity: 1.0;
	padding: 14px 20px;
	font-family: "Brown", "Arial" sans-serif;
	font-weight: 400;
	border-radius: 25px;
	text-align: left;
    box-sizing: border-box;
	width: 100%;
    margin: 8px 0;
    display: inline-block;
	border: 1px solid #ccc;
    cursor: pointer;
}

@media only screen and (max-width: 900px),  (min-width: 600px), (min-width: 1100px)
 {
	width: 100%; 
}

@media(max-width: 570px){
	
	.header {
		width: 1vw;
		padding-right: 1em;
		padding-left: 1em;
		background-color: white;
		
	}

	.header img{
		margin-left: auto;
	}

	ul.header{
		float: right;
		position: fixed;
		margin-left: 80%;
	    margin-right: 2%;
		
	}

	.icon {
		padding-left: 250%;
		padding-right: 23px;
	}

	.checkbtn {
		display: block;
		padding-left: 2%;
		padding-top: 7px;
		padding-bottom: 0;
		  
		
	}
	nav{
		background: #19226d;
		width: 100%;
	}
	.navbar ul {
		
		width: 100%;
		background-color: #19226d;
		padding: 0;
		margin: 0;
	}

	nav ul {
		position: fixed;
		height: auto;
		text-align: center;
		left:-110%;
		transition: all .5s;
		z-index: 1;
		top: 174px;
		display: flex;
		flex-direction: column;
		background-color: #19226d;
				  
		
	}
	nav ul li {
		display: block;
		background-color: #19226d;
	}
   
	nav ul li a {
		font-size: 15px;
	}
	#check:checked ~ ul{
		left: 0;
	}
	
}


