* {
    font-family: "Arial", sans-serif;
    }
    
.header {
    height: 50px;
        background-color: lightgray;
        display: flex;
        width: auto;
        
            
    }
    
.header img{
        float: left;
    }
header ul {
        display: flex;
        float: right;
        list-style-type: none;
        line-height: 50px;
        align-items: center;
        padding-left: 70%;		
        margin-right: 15%;
        
        
    }
    
.icon {
        padding: 1em 10px;
            
    }
    
    
.icon hover {
        opacity: .7;
        
    }
    
.navbar ul {
        display: flex;
        justify-content: space-around;
        height: 40px;
        background-color: #19226d;
        list-style-type: none;
        padding: 0px 1em;
        margin: 0px;
        width: auto;
        
    }
.navbar a {
        display: block;
        color: white; 
        text-decoration: none;
        text-align: center;
        font-size: 18px;
        line-height: 40px;
        padding: 0px 15px;			
    }
    
.navbar a:hover {
        background: #ddd;
        color: black;
    }
body {
	background-image: url("../images/glickcenter.jpeg");
	background-repeat: no-repeat;
	opacity: 1.0;
	background-size:cover;
    margin: 0;
	}

.form {
       margin: 20px;
            
    }
select {
	background-color: #19226d;
	border-radius: 25px;
}

label, select {
	color: #fff;
	font-size: 18px;
	font-family: "Brown", "Arial" sans-serif;
	font-weight: bold;
	opacity: 1.0;
    
}

[type=file] {
	background-color: grey;
}

select, input[type=text],[type=email],[type=tel],[type=date],[type=file],[type=time],[type=appt], p {
	width: 100%;
	padding: 12px 20px;
	margin: 8px 0;
	display: inline-block;
	border: 1px solid #ccc;
	border-radius: 4px;
	box-sizing: border-box;
	color: white;
	font-family: "Brown", "Arial" sans-serif;
	font-weight: bold;
	margin: auto;
   
}

input[type=text]:hover, [type=email]:hover, [type=tel]:hover,[type=date]:hover,[type=file]:hover,[type=time]:hover,[type=appt]:hover, p {
	background-color: #54c3c0;
}

input[type=submit],[type=reset], p {
	width: 100%;
	background-color: #54c3c0;
	color: white;
	padding: 14px 20px;
	margin: 8px 0;
	border: none;
	border-radius: 25px;
	cursor: pointer;
	font-family: "Brown", "Arial" sans-serif;
	font-weight: bold;
	
}

input[type=submit]:hover,[type=reset]:hover {
background-color: #45A049;
font-family: "Brown", "Arial" sans-serif;
font-weight: bold;
border-radius: 25px;

}

p {
	background-color: #19226d;
	opacity: 1.0;
	padding: 20px;
	font-family: "Brown", "Arial" sans-serif;
	font-weight: 400;
	border-radius: 25px;
	text-align: left;
	width: 100%;
}

@media only screen and (max-width: 900px),  (min-width: 600px), (min-width: 1100px)
 {
	width: 100%;
}