* {
    font-family: "Arial", sans-serif;
    }
    
    .header {
        height: 50px;
        background-color: lightgray;
        display: flex;
        width: auto;
        
            
    }
    
    .header img{
        float: left;
    }
    header ul {
        display: flex;
        float: right;
        list-style-type: none;
        line-height: 50px;
        align-items: center;
        margin-left: auto;
	    margin-right: 2%;
        
        
    }
    
    .icon {
        padding: 1em 10px;
        padding-right: 20px;
            
    }
    
    
    
    
    .navbar ul {
        display: flex;
        justify-content: space-around;
        height: 40px;
        background-color: #19226d;
        list-style-type: none;
        padding: 0px 1em;
        margin: 0px;
        width:auto;
        
    }
    .navbar a {
        display: block;
        color: white; 
        text-decoration: none;
        text-align: center;
        font-size: 18px;
        line-height: 40px;
        padding: 0px 15px;			
    }
    
    .navbar a:hover {
        background: #ddd;
        color: black;
    }
    .checkbtn {
        padding-top: 4px;
        margin-right: 20px;
        cursor: pointer;
        display: none;
        
    }
    #check {
        display: none;
    }

    body, html {
        height: 100%;
        margin: 0;
        font-size: 16px;
        font-family: "Brown", "Arial" sans-serif;
        font-weight: 400;
        line-height: 1.8em;
        color: #54c3c0;
        background-color: 902683;
    }
    #abovevideo {
        text-align: center;
        color: #19226d;
    }
    iframe {
        display: flex;
        margin: auto;
        margin-bottom: 1em;
    }
    
    .pimg1, .pimg2, .pimg3{
        position: relative;
        opacity: 0.70;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
    
    
    /*	fixed = parallax
        scroll = normal
    */
    background-attachment: fixed;
    }
    
    .pimg1 {
        background-image:url('../images/glickcenter.jpeg');
        min-height: 100%;
    }
    
    .pimg2 {
        background-image:url('../images/cleveland-skyline-feat.jpeg');
        min-height: 400px;
    }
    
    .pimg3 {
        background-image: url('../images/oldbuilding.jpeg');
        min-height: 400px;
    }
    
    .section {
        text-align: center;
        padding: 20px 20px;
        color: #f4f4f4;
        font-family: "Brown", "Arial" sans-serif;
        
    }
    
    .JFimages {
        float: left;
        width: 30%;
        padding: 1em 1em;
        margin: 1em 1em;
        height: auto;
        
        
    }
    .section-light{
        background-color: #632d80;
        color: #f4f4f4;
        font-family: "Brown", "Arial" sans-serif;
        height: auto;
        text-align: center;
            
    }
   
    .HEAP {
        float: left;
        width: 30%;
        margin: 3em 2em;
        height: auto; 
        padding: 0 1em;
        padding-right: 10em;
        
       
    }

  
    #Why_Cleveland {
    background-color:#54c3c0;
    color: white;
    height: auto;
    width: auto;
    text-align: left;
   
    }  
    ul.wellnesslist {
        list-style-type: none;
        float: none;
    }
    
    
    .RBG {
        background-color: #632d80;
        color: WHITE;
        text-align: center;
        list-style-type: none;
                   
    }
    ul.RBGList {
        list-style-type: none;
    }
     
    .ptext {
        position: absolute;
        top: 50%;
        width: 100%;
        text-align: center;
        color: black;
        font-size: 27px;
        letter-spacing: 8px;
        text-transform: uppercase;
    }
    
    .ptext .border{
        background-color: black;
        color: #fff;
        padding: 20px; 
    }
    
    .ptext .border.trans{
        background-color: black;
        color: white;
    }
    a:link, a:visited {
        color:  #54c3c0;
        }
    
    
    
    
    @media(max-width: 570px){
        .pimg1, .pimg2, .pimg3{
            background-attachment: scroll;	
            }
        .header {
            width: 1vw;
            padding-right: 1em;
            padding-left: 1em;
            background-color: white;
            
        }
    
        ul.header{
            float: right;
            position: fixed;
            
        }
        .icon {
            margin-left: 190%;
            padding-right: 15px;
        }


        
        .ptext .border{
            line-height: 80px;
        }
        
        .checkbtn {
            display: block;
            padding-left: 2%;
            padding-top: 7px;
            padding-bottom: 0;
              
            
        }
        nav{
            background: #19226d;
            width: 100%;
        }
        .navbar ul {
            
            width: 100%;
            background-color: #19226d;
            padding: 0;
            margin: 0;
        }

        nav ul {
            position: fixed;
            height: auto;
            text-align: center;
            left:-110%;
            transition: all .5s;
            z-index: 1;
            top: 178px;
            display: flex;
            flex-direction: column;
            background-color: #19226d;
                      
            
        }
        nav ul li {
            display: block;
            background-color: #19226d;
        }
       
        nav ul li a {
            font-size: 15px;
        }
        #check:checked ~ ul{
            left: 0;
        }
        .HEAP {
            display:block;
                      
        }
        a:link, a:visited {
            color:  #54c3c0;
            }
    }
    
    
   
    