* {
    font-family: "Arial", sans-serif;
    }
    
    .header {
        height: 50px;
        background-color: lightgray;
        display: flex;
        width: auto;
        
            
    }
    
    .header img{
        float: left;
    }
    header ul {
        display: flex;
        float: right;
        list-style-type: none;
        line-height: 50px;
        align-items: center;
        margin-left: auto;
	    margin-right: 2%;
        
        
    }
    
    .icon {
        padding: 1em 10px;
        padding-right: 20px;
            
    }
    
    
    
    
    .navbar ul {
        display: flex;
        justify-content: space-around;
        height: 40px;
        background-color: #19226d;
        list-style-type: none;
        padding: 0px 1em;
        margin: 0px;
        width:auto;
        
    }
    .navbar a {
        display: block;
        color: white; 
        text-decoration: none;
        text-align: center;
        font-size: 18px;
        line-height: 40px;
        padding: 0px 15px;			
    }
    
    .navbar a:hover {
        background: #ddd;
        color: black;
    }
    .navbar a:link, a:visited{
        color: white;
    }
    .checkbtn {
        padding-top: 4px;
        margin-right: 20px;
        cursor: pointer;
        display: none;
        
    }
    #check {
        display: none;
    }

    body, html {
        height: 100%;
        margin: 0;
        font-size: 16px;
        font-family: "Brown", "Arial" sans-serif;
        font-weight: 400;
        line-height: 1.8em;
        color: #54c3c0;
        background-color: 902683;
    }
    #abovevideo {
        text-align: center;
        color: #19226d;
    }
    iframe {
        display: flex;
        margin: auto;
        margin-bottom: 1em;
    }
    
    .pimg1, .pimg2, .pimg3, .pimg4{
        position: relative;
        opacity: 0.70;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
    
    
    /*	fixed = parallax
        scroll = normal
    */
    background-attachment: fixed;
    }
    
    .pimg1 {
        background-image:url('../images/campus\ historical\ aerial005.jpg');
        min-height: 100%;
    }
    
    .pimg2 {
        background-image:url('../images/Metro\ Health\ Resiliency\ Run-127.jpg');
        min-height: 400px;
    }
    
    .pimg3 {
        background-image: url('../images/20200618-Juneteenth\ Event-629.jpg');
        min-height: 400px;
    }

    .pimg4 {
		background-image: url('../images/Broadway\ Exterior03.jpg');
		min-height: 100%;
	}
    
    .section {
        text-align: center;
        padding: 20px 20px;
        color: #f4f4f4;
        font-family: "Brown", "Arial" sans-serif;
        
    }
    

    .section-light{
        background-color: #632d80;
        color: #f4f4f4;
        font-family: "Brown", "Arial" sans-serif;
        height: auto;
        text-align: center;
            
    }
   
    .HEAP {
        float: left;
        width: 30%;
        margin: 3em 2em;
        height: auto; 
        padding: 0 2em;
        padding-right: 10em;
        
       
    }
    .Steed {
        float: left;
        padding-bottom: 0;
        margin-bottom: 0;
    }
  
    #Why_Cleveland {
    background-color:#54c3c0;
    color: white;
    height: auto;
    width: auto;
    text-align: left;
   
    }  
    ul.wellnesslist {
        list-style-type: none;
        float: none;
    }
    
    
    .RBG {
        background-color: #632d80;
        color: WHITE;
        text-align: center;
        list-style-type: none;
                   
    }
    ul.RBGList {
        list-style-type: none;
        
    }
    .RBGList a:link, .RBGList a:visited{
        color:  #54c3c0;
    }
     
    .ptext {
        position: absolute;
        top: 50%;
        width: 100%;
        text-align: center;
        color: black;
        font-size: 27px;
        letter-spacing: 8px;
        text-transform: uppercase;
    }
    
    .ptext .border{
        background-color: black;
        color: #fff;
        padding: 20px; 
    }
    
    .ptext .border.trans{
        background-color: black;
        color: white;
    }
   
    
    
    
    
    @media(max-width: 570px){
        .pimg1, .pimg2, .pimg3{
            background-attachment: scroll;	
            }
        .header {
            width: 1vw;
            padding-right: 1em;
            padding-left: 1em;
            background-color: white;
            
        }
    
        ul.header{
            float: right;
            position: fixed;
            
        }
        .icon {
            margin-left: 190%;
            padding-right: 15px;
        }


        
        .ptext .border{
            line-height: 80px;
        }
        
        .checkbtn {
            display: block;
            padding-left: 2%;
            padding-top: 7px;
            padding-bottom: 0;
              
            
        }
        nav{
            background: #19226d;
            width: 100%;
        }
        .navbar ul {
            
            width: 100%;
            background-color: #19226d;
            padding: 0;
            margin: 0;
        }

        nav ul {
            position: fixed;
            height: auto;
            text-align: center;
            left:-110%;
            transition: all .5s;
            z-index: 1;
            top: 178px;
            display: flex;
            flex-direction: column;
            background-color: #19226d;
                      
            
        }
        nav ul li {
            display: block;
            background-color: #19226d;
        }
       
        nav ul li a {
            font-size: 15px;
        }
        #check:checked ~ ul{
            left: 0;
        }
        iframe{
            width: 550px;
            height: auto;
        }
        .HEAP {
            display:block;
                      
        }
        .ptext .border{
            line-height: 80px;
        }
    }
    
    #footer-outer[data-cols="1"] #copyright .col, #footer-outer[data-cols="1"] #copyright .col ul {
        width: 100%;
        float: none;
    }
    
    @media only screen and (max-width: 690px) {
    #footer-outer #copyright .col ul {
        float: left;
    }
}
    
    #footer-outer #copyright .col ul {
        float: right;
    }
    
    #footer-outer ol, #footer-outer ul, #header-outer .button_social_group ul, #header-outer nav>ul, #header-outer ol, #header-secondary-outer ol, #header-secondary-outer ul, #mobile-menu ol, #mobile-menu ul, #search-outer ol, #search-outer ul, #slide-out-widget-area ol, #slide-out-widget-area ul {
        margin: 0;
    }
    
    #footer-outer[data-cols="1"] .col {
        text-align: center;
    }
    
    body #footer-outer #copyright {
        font-size: 14px;
        background-color: transparent;
        color: #ccc;
        position: relative;
        z-index: 10;
        color: #777;
        display: flex;
        float: right;
        list-style-type: none;
        align-items: center;
        margin-left: auto;
    }
    
    #footer-outer, #nectar_fullscreen_rows > #footer-outer.wpb_row .full-page-inner-wrap {
        color: #ccc;
        position: relative;
        z-index: 10;
        color: #777;
        display: flex;
        float: right;
        list-style-type: none;
        align-items: center;
        margin-left: auto;
    }
    
    #footer-outer, #footer-outer a:not(.nectar-button) {
        color: #ffffff!important;
        color: #777;
        display: flex;
        float: right;
        list-style-type: none;
        align-items: center;
        margin-left: auto;
        width: 100%;
    }
    
        #footer-outer #copyright .col ul {
            float: right;
            color: #777;
            display: flex;
            list-style-type: none;
            align-items: center;
            margin-left: auto;
        }
        
        #footer-outer ol, #footer-outer ul, #header-outer .button_social_group ul, #header-outer nav>ul, #header-outer ol, #header-secondary-outer ol, #header-secondary-outer ul, #mobile-menu ol, #mobile-menu ul, #search-outer ol, #search-outer ul, #slide-out-widget-area ol, #slide-out-widget-area ul {
            margin: 0;
            margin-top: 0px;
            margin-right: 0px;
            margin-bottom: 0px;
            margin-left: 0px;
        }
    
        body #footer-outer #copyright {
            font-size: 14px;
            background-color: transparent;
        }
        
        #footer-outer #copyright {
            padding: 20px 0;
            font-size: 12px;
            background-color: #1c1c1c;
            color: #777;
        }
        #footer-outer, #nectar_fullscreen_rows > #footer-outer.wpb_row .full-page-inner-wrap {
            color: #ccc;
            position: relative;
            z-index: 10;
            background-color: #252525;
        }
    
        #footer-outer, #footer-outer a:not(.nectar-button) {
            color: #ffffff!important;
        }
    
        .container {
            margin: 0 auto;
            position: relative;
            max-width: 880px;
        }
    
        .container:before, .container:after, .container-fluid:before, .container-fluid:after, .row:before, .row:after, .modal-footer:before, .modal-footer:after, .vc_row:before, .vc_row:after {
            content: " ";
            display: table;
        }
        .container:after, .container-fluid:after, .row:after, .vc_row:after {
            clear: both;
        }
        .container:before, .container:after, .container-fluid:before, .container-fluid:after, .row:before, .row:after, .modal-footer:before, .modal-footer:after, .vc_row:before, .vc_row:after {
            content: " ";
            display: table;
        }
       
        #footer-outer #copyright li .instagram {
            width: 20px
        }
    
        #footer-outer #copyright li .youtube {
            width: 21px
        }
    
        #footer-outer #copyright li .twitter {
            width: 20px
        }
    
        #footer-outer #copyright li .facebook {
        width: 12px
    }

    ol, ul {
        margin-left: 30px;
        margin-bottom: 30px;
    }
    
    ol, ul {
        list-style: none;
    }