*body {
    font-family: Arial, Helvetica, sans-serif;
}
    
.header {
        height: 50px;
        background-color: lightgray;
        display: flex;
        width: auto;
                  
    }
    
.header img{
        float: left;
    }
header ul {
        display: flex;
        float: right;
        list-style-type: none;
        line-height: 50px;
        align-items: center;
        margin-left: auto;
	    margin-right: 2%;
             
    }
    
.icon {
        padding: 1em 10px;
        padding-right: 20px;  
}
    
    

    
.navbar ul {
        display: flex;
        justify-content: space-around;
        height: 40px;
        background-color: #19226d;
        list-style-type: none;
        padding: 0px 1em;
        margin: 0px;
        width:auto;
        
    }
.navbar a {
        display: block;
        color: white; 
        text-decoration: none;
        text-align: center;
        font-size: 18px;
        line-height: 40px;
        padding: 0px 15px;			
    }
    
.navbar a:hover {
        background: #ddd;
        color: black;
    }
    
    .checkbtn {
        padding-top: 4px;
        margin-right: 20px;
        cursor: pointer;
        display: none;
        
    }
    #check {
        display: none;
    }


.slider-container {
        max-width: fit-content;
        position: relative;
        justify-content: center;
        margin: auto;
        height: auto;
        overflow: auto;

    }

.slideWrap {
        position: relative;
        list-style: none;
        height: auto;
        width: 100%;
        padding: 0;
        margin: 0;
        justify-content: center;

    }

    .mySlides {
        position: relative;
        height: auto;
        width: 100%;
        justify-content: center;
        
    }

    .mySlides img {
        width: 100%;
        height: auto;

    }
   
      
   .dot{
        cursor: pointer;
        height: 15px;
        width: 15px;
        margin: 5px;
        border-radius: 50%;
        display: inline-flex;
        background-color: lightgray;
        
        
       
   }

   .active, .dot:hover{
        background-color:#19226d;
   }
    #nursinglinkdiv {
        background-color: #632d80;
        color: white;
        line-height: 2em;
        padding: .25em;
       
    }
    #nursinglinkdiv ul {
        list-style-type: none;
        justify-content: space-around;
        display: flex;
        
    }
    #nursinglinkdiv li {
        text-align: center;
    }

    .nursinglink {
        background-color: #54c3c0;
        border-radius: 10px 10px;
        
    }

    .nursinglink a{
        text-decoration: none;
        margin: 1em;
        color: black;
        line-height: auto;
        align-items: center;
        
    }
    .nursinglink a:hover {
        color: white;
        
    }

   body, html {
	height: 100%;
	margin: 0;
	font-size: 16px;
	font-family:"Arial", sans-serif;
	font-weight: 400;
	line-height: 1.8em;
	color: #54c3c0;
	background-color: 902683;
    width: 100%;
}



.pimg1, .pimg2, .pimg3{
	position: relative;
	opacity: 0.70;
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;


/*	fixed = parallax
	scroll = normal
*/
background-attachment: fixed;
}

.pimg1 {
	background-image:url('../images/glickcenter.jpeg');
	min-height: 50%;
    
}

.pimg2 {
	background-image:url('../images/cleveland-skyline-feat.jpeg');
	min-height: 50%;
}

.pimg3 {
	background-image: url('../images/metrobh3.png');
	min-height: 50%;
}

.section {
	
    text-align: center;
	padding: 20px 20px;
	color: #f4f4f4;
	font-family: "Brown", "Arial" sans-serif;
}
.research {
    text-align: right;
	
}

.section-light{
	background-color: #632d80;
	color: #f4f4f4;
	font-family: "Brown", "Arial" sans-serif;
}

.section-dark {
	background-color: #f28521;
	color: white;
}

#Why_Cleveland {
    background-color:#19226d;
    color: white;
    padding-bottom: 20px;
          
}
#asideresidency {
    float: left;
    width: 30%;
    padding: 1em 2em;
    margin: 0 2em;
   
    
    
}

#asideres section {
    background-color: white;
    justify-content: left;
    padding: 2em 3em;
    margin: 3em 6em;
    
   
}
#asideres section img {
    
    background-color: white;
    height: auto;
    width: 100%;
    padding: 1em 1em;
    
    
}


#asidebonus {
    float: left;
    background-color: white;
    color: black;
    padding: 2em 1.5em 3em 1em;
    text-align: left;
}
#bonus {
    background-color: #09a6a5;
    color: white;
    
}



.ptext {
	position: absolute;
	top: 30%;
	width: 100%;
	text-align: center;
	font-size: 20px;
	letter-spacing: 8px;
	text-transform: uppercase;
}

.ptext .border{
	background-color: black;
	color: #fff;
	padding: 20px 10px;
}

.ptext .border.trans{
	background-color: black;
	color: white;
    padding: 15px 10px;
}



@media(max-width:568px){
	.pimg1, .pimg2, .pimg3{
	background-attachment: scroll;	
    }
}

@media(max-width: 570px){
	.header {
		width: 1vw;
		padding-right: 1em;
		padding-left: 1em;
		background-color: white;
	}

	.header img{
		margin-left: auto;
	}
    ul.header {
        float: right;
        position: fixed;
        margin-right: 2%;  
    }

    .icon {
        padding-left: 230%;
        padding-right: 25px;
    }


    .checkbtn {
        display: block;
        padding-left: 2%;
        padding-top: 7px;
        padding-bottom: 0;
          
        
    }
    nav{
        background: #19226d;
        width: 100%;
    }
    .navbar ul {
        
        width: 100%;
        background-color: #19226d;
        padding: 0;
        margin: 0;
    }

    nav ul {
        position: fixed;
        height: auto;
        text-align: center;
        left:-110%;
        transition: all .5s;
        z-index: 1;
        top: 178px;
        display: flex;
        flex-direction: column;
        background-color: #19226d;
                  
        
    }
    nav ul li {
        display: block;
        background-color: #19226d;
    }
   
    nav ul li a {
        font-size: 15px;
    }
    #check:checked ~ ul{
        left: 0;
    }
    #nursinglinkdiv ul{
        display: flex;
        flex-direction: column;
        justify-self: center;
        height: auto;
        width:90%;
        margin-right: 2em;  
           
        
    }
   
    #nursinglinkdiv li {
        text-align: center;
    }

    .ptext .border{
		line-height: 80px;
	}
   
	
}


footer ul {
list-style-type: none;
}


    
   
     


    

   


    
