*body {
    font-family: Arial, Helvetica, sans-serif;
}
    
    .header {
        height: 50px;
        background-color: lightgray;
        display: flex;
        width: auto;
                  
    }
    
    .header img{
        float: left;
    }
    header ul {
        display: flex;
        float: right;
        list-style-type: none;
        line-height: 50px;
        align-items: center;
        padding-left: 70%;		
        margin-right: 15%;
             
    }
    
    .icon {
        padding: 1em 10px;
            
    }
    
    
    .icon hover {
        opacity: .7;
        
    }
    
    .navbar ul {
        display: flex;
        justify-content: space-around;
        height: 40px;
        background-color: #19226d;
        list-style-type: none;
        padding: 0px 1em;
        margin: 0px;
        width:auto;
        
    }
    .navbar a {
        display: block;
        color: white; 
        text-decoration: none;
        text-align: center;
        font-size: 18px;
        line-height: 40px;
        padding: 0px 15px;			
    }
    
    .navbar a:hover {
        background: #ddd;
        color: black;
    }
    
   

    .slider-container {
        max-width: fit-content;
        position: relative;
        justify-content: center;
        margin: auto;
        height: auto;
        overflow: auto;

    }

    .slideWrap {
        position: relative;
        list-style: none;
        height: auto;
        width: 100%;
        padding: 0;
        margin: 0;
        justify-content: center;

    }

    .mySlides {
        position: relative;
        height: auto;
        width: 100%;
        justify-content: center;
        
    }

    .mySlides img {
        width: 100%;
        height: auto;

    }
   
      
   .dot{
        cursor: pointer;
        height: 15px;
        width: 15px;
        margin: 5px;
        border-radius: 50%;
        display: inline-flex;
        background-color: lightgray;
        
        
       
   }

   .active, .dot:hover{
        background-color:#19226d;
   }
    #nursinglinkdiv {
        background-color: #632d80;
        color: white;
        line-height: 2em;
        padding: .25em;
       
    }
    #nursinglinkdiv ul {
        list-style-type: none;
        justify-content: space-around;
        display: flex;
        
    }
    #nursinglinkdiv li {
        text-align: center;
    }

    .nursinglink {
        background-color: #54c3c0;
        border-radius: 10px 10px;
        
    }

    .nursinglink a{
        text-decoration: none;
        margin: 1em;
        color: black;
        line-height: auto;
        align-items: center;
        
    }
    .nursinglink a:hover {
        color: white;
        
    }

   body, html {
	height: 100%;
	margin: 0;
	font-size: 16px;
	font-family:"Arial", sans-serif;
	font-weight: 400;
	line-height: 1.8em;
	color: #54c3c0;
	background-color: 902683;
    width: 100%;
}

.research {
    color: white;
    background-color: black;
}

.pimg1, .pimg2, .pimg3{
	position: relative;
	opacity: 0.70;
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;


/*	fixed = parallax
	scroll = normal
*/
background-attachment: fixed;
}

.pimg1 {
	background-image:url('../images/glickcenter.jpeg');
	min-height: 50%;
    
}

.pimg2 {
	background-image:url('../images/cleveland-skyline-feat.jpeg');
	min-height: 50%;
}

.pimg3 {
	background-image: url('../images/oldbuilding.jpeg');
	min-height: 50%;
}

.section {
	
    text-align: center;
	padding: 20px 20px;
	color: #f4f4f4;
	font-family: "Brown", "Arial" sans-serif;
}

.section-light{
	background-color: #632d80;
	color: #f4f4f4;
	font-family: "Brown", "Arial" sans-serif;
}

.section-dark {
	background-color: #f28521;
	color: white;
}

#Why_Cleveland {
    background-color:#19226d;
    color: white;
    padding-bottom: 20px;
          
}
#asideresidency {
    float: left;
    width: 30%;
    padding: 1.5em 0;
    margin: 1 6em;
    border-radius: 60%;
    background-color: white;
    
}

#asideres section {
    background-color: white;
    justify-content: left;
    border-radius: 50%;
    padding: 1em 3em;
    margin: 2em 2em;
    
   
}
#asideres section img {
    border-radius: 50%;
    background-color: white;
    height: auto;
    width: 100%;
    
    
}
#maindiv{
    text-align: center;
	width: 70%;  
    padding-left: 1em;
    
}

#asidebonus {
    float: left;
    background-color: white;
    color: black;
    padding: 2em 1.5em 3em 1em;
    text-align: left;
}
#bonus {
    background-color: #09a6a5;
    color: white;
    
}



.ptext {
	position: absolute;
	top: 30%;
	width: 100%;
	text-align: center;
	font-size: 20px;
	letter-spacing: 8px;
	text-transform: uppercase;
}

.ptext .border{
	background-color: black;
	color: #fff;
	padding: 20px 10px;
}

.ptext .border.trans{
	background-color: black;
	color: white;
    padding: 15px 10px;
}



@media(max-width:568px){
	.pimg1, .pimg2, .pimg3{
	background-attachment: scroll;	
    }
}

@media(max-width: 570px){
	.header {
		width: 1vw;
		padding-right: 1em;
		padding-left: 1em;
		
	}

	.header img{
		margin-left: auto;
	}
    .header ul {
        padding-right: auto;
    }

	.navbar ul {
		display: flex;
		flex-direction: column;
		height: auto;
	}

    #nursinglinkdiv ul {
        display: flex;
        flex-direction: column;
        height: auto;
        
    }
    #nursinglinkdiv li {
        text-align: center;
    }

    .border .border.trans {
        word-wrap: break-word;
    }
   
	
}


footer ul {
list-style-type: none;
}


    
   
     


    

   


    
